<div class="container">
	<br />
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="/image/logo.jpg" class="img-fluid" width="100" height="100" />
		<div>
			<a class="btn btn-dark" type="carrinho" href="/inicio"> INICIO </a>
			<a class="btn btn-dark" type="carrinho" href="/cardapio"> CARDÁPIO </a>
			<a class="btn btn-dark" type="carrinho" href="/carrinho">
				<i class="fa fa-shopping-cart"></i>
			</a>
			<a class="btn btn-dark" type="carrinho" href="/logout"><h4>➜</h4></a>
		</div>
	</nav>
</div>
