<div class="container"><br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/cardapio">FOODSHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/cardapio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil">Sobre Nós</a>
        </li>
      </ul>
        <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-dark" type="pesqui"><h4>⌕</h4></button>
        <a class="btn btn-dark" type="sair" href="/logout" type="sair"><h4>➜</h4></a>
    </div>
  </nav>
</div>