<center><h1>Bebidas</h1></center>
<div class="card-group">
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/refriss.png" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Refrigerantes 2L</h5>
			<p class="card-text">Coca-Cola, Antártica, Fanta, Sprite, Kuat e Sukita.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 8,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/refri.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Refrigerantes 220ml</h5>
			<p class="card-text">Cola-Cola, Coca-Cola zero Açucar, Fanta e Sprite.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 4,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/delvale.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Sucos de Caixas</h5>
			<p class="card-text">Sucos Del Valle, vários sabores.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 4,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/sucos.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Sucos Naturais</h5>
			<p class="card-text">Kiwi, Laranja e Morango.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 6,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
</div>
<br />
<div class="card-group">
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/uva.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Águas Saborizadas</h5>
			<p class="card-text">Sabor Uva, Limoneto e H2O.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 5,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/cerveja.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Cervejas</h5>
			<p class="card-text">Artesanais - Verificar Disponibilidade.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 9,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/cervejaa.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Cervejas</h5>
			<p class="card-text">Artesanais - Verificar Disponibilidade.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 9,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="/image/bebidas/cervejas-1.jpg" alt="Imagem de capa do card" />
		<div class="card-body">
			<h5 class="card- nome-prato">Cervejas</h5>
			<p class="card-text">Antártica, Brahma, Skol, A outra, Original.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 9,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
</div>
