<%- include ('./partials/header.ejs') %> <%- include ('./partials/navbar.ejs') %>

<body>
	<div class="container">
		<br><br>
			<form method="POST" action="/admin/cadastrar" class="cadastrar-prato">
				<h5><strong>
					<h3>Adicionar Prato</h3>
					<label for="inputNomeProduto" class="label">Nome:</label>
					<input type="text" name="nomeProduto" id="nomeProduto"class="form-control" placeholder="Nome do Prato">
	
					<label for="inputPreco" class="label">Preço:</label>
					<input type="text" name="preco" id="preco" class="form-control " placeholder="Preço do Prato">
	
					<label for="inputImagem" class="label">Imagem:</label>
					<input type="text" name="imagem" id="imagem" class="form-control" placeholder="Imagem">
	
					<label for="inputDescricao" class="label">Descrição:</label>
					<input type="text" name="descricao" id="descricao" class="form-control"  placeholder="Descrição">
					
					<label for="inputTipo" class="label">Tipo:</label>
					<select id="tipo">
						<option value="1">Pizza</option>
						<option value="2" selected="selected">Pratos</option>
						<option value="3">Burgers</option>
						<option value="4">Bebidas</option>
					</select>					
				</h5></strong>
				<button type="modal" class="btn btn-dark">Cadastrar</button>
			</form>
	</div>
</body>
<%- include ('./partials/footer.ejs') %>
