<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body>
    <div class="container">
        <h1>Cardápio</h1>
        <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/image/pizzaa.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Pizzas</h5>
                  <p class="card-text">Calabresa - Frango - Mussarela - Banana - Portuguesa - Atum - Palmito - Napolitana</p>
                  <a href="#" class="btn btn-dark">Visitar</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/carnesol.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Carne de Sol</h5>
                  <p class="card-text">Carne de Sol - Arroz Branco - Feijão Macassar - Vinagrete - Batata Frita - Queijo</p>
                  <a href="#" class="btn btn-dark">Visitar</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/file.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Filé à Parmegiana</h5>
                  <p class="card-text">Filé de Frango - Filé de Carne - Macarrão ao Molho - Queijo Mussarela - Queijo Ralado</p>
                  <a href="#" class="btn btn-dark">Visitar</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/strogonof.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Strogonoff</h5>
                  <p class="card-text">Strogonoff de Frango - Strogonoff de Carne - Arroz - Batata Palha - </p><br>
                  <a href="#" class="btn btn-dark">Visitar</a>
                </div>
              </div>
            </div><br>
            <div class="card-group">
                <div class="card">
                  <img class="card-img-top" src="/image/filemadeira.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Filé ao Molho Madeira</h5>
                    <p class="card-text">Cubos de filé mignon com molho madeira e champignon - Arroz - Purê de Batata</p><br>
                    <a href="#" class="btn btn-dark">Visitar</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/image/risoto.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Risoto de Camarão</h5>
                    <p class="card-text">500g de Camarão  - Arroz à Risoto - Queijo Parmesão - Salsinha a gosto - Batata Frita</p><br>
                    <a href="#" class="btn btn-dark">Visitar</a>
                  </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/image/lasanha.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Lasanha</h5>
                      <p class="card-text">Lasanha de Frango - Lasanha de Carne - Macarrão ao Molho - Queijo Mussarela - Queijo Ralado</p><br>
                      <a href="#" class="btn btn-dark">Visitar</a>
                    </div>
                  </div>
                <div class="card">
                  <img class="card-img-top" src="/image/espaguete.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Espaguete ao Molho de Camarão</h5>
                    <p class="card-text">Macarrão Espaguete ao Molho de Tomate - Camarão - Verduras - Salsinha</p>
                    <a href="#" class="btn btn-dark">Visitar</a>
                  </div>
                </div>
              </div>
          </div>
          
</body>

<%- include ('./partials/footer.ejs') %>