<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %> <br>
    <div class="container">
        <img src="/image/inicio.png" class="img-fluid" alt="Imagem responsiva">
    </div>
<%- include ('./partials/footer.ejs') %>