<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %> <br>
    <div class="container">
        <div class="alert alert-dark" role="alert">
            <h4 class="alert-heading">PERFIL</h4>
            <p>Uma empresa de base familiar, o Grupo FOODSHOP foi fundado por Tony Stark, Peter Park e Wanda Maximoff.
            Foi no bairro de Maranguape, em Paulista, que surgiu a primeira unidade, na qual trabalhavam apenas 14 funcionários. 
            Com muito empenho e ajuda da família, o negócio cresceu e entre janeiro a junho de 2022 foi inaugurado o primeiro restaurante-pizzaria </p>
            <hr>
            <p class="mb-0">Em todo empreendimento bem sucedido há um segredo, e o nosso é a união. 
                O grupo continua sendo administrado pela família Marvel e seus fundadores, empenhados para satisfazer seus clientes. 
                Essa é a nossa história e você é parte dela! Obrigado pela confiança.</p>
          </div>
    </div>
<%- include ('./partials/footer.ejs') %>