<center><h1>Pizzas</h1></center>
<div class="card-group">
	<div class="card">
		<img
			class="card-img-top"
			src="https://curtarecife.com.br/wp-content/uploads/2021/04/PIZZARIA-EM-RECIFE-700x420.png"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Calabresa</h5>
			<p class="card-text">Base de mussarela, calabresa fatiada, anéis de cebola e orégano.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 19,90</span>
				<a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img
			class="card-img-top"
			src="https://www.comidaereceitas.com.br/wp-content/uploads/2015/03/pizza_atum_especial.jpg"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Atum</h5>
			<p class="card-text">Base de mussarela, atum desfiado, anéis de cebola e azeitonas</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 15,90</span>
				<a href="#" type="maistum" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img
			class="card-img-top"
			src="https://riomarkennedyonline.com.br/riomarkennedyonline/2022/02/pizza_mozzarella-_especial_22_cm_mattarello_pizzas_riomar_kennedy.png"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Mussarela</h5>
			<p class="card-text">Base de mussarela com orégano e azeitonas.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 14,90</span>
				<a href="#" type="maismussa" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img
			class="card-img-top"
			src="https://www.picanhacia.com.br/wp-content/uploads/2017/01/xtradicional-14-1.jpg.pagespeed.ic.0pqNC6z3UY.webp"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Frango</h5>
			<p class="card-text">Base de mussarela, frango desfiado, azeitonas e orégano.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 29,90</span>
				<a href="#" type="maismussa" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
</div>
<br />
<div class="card-group">
	<div class="card">
		<img
			class="card-img-top"
			src="https://www.pizzatec.com.br/assets/uploads/gallery/images/2018/08/curiosidades-pizza-portuguesa-1533563027.jpeg"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Portuguesa</h5>
			<p class="card-text">
				Base de mussarela, ovos, calabresa fatiada, anéis de cebola, azeitonas.
			</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 24,90</span>
				<a href="#" type="maisport" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img
			class="card-img-top"
			src="https://haraldfoodservice.com.br/wp-content/uploads/2019/11/imagens-internas-blog-pizza-brigadeiro-1024x1024.jpg"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Chocolate</h5>
			<p class="card-text">Base de mussarela com brigadeiro cremoso e granulado.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 22,90</span>
				<a href="#" type="maischoc" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img
			class="card-img-top"
			src="https://s2.glbimg.com/gwhIG-mUpHKhYSg8Zl21Zj_OXjA=/0x0:1280x800/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_1f540e0b94d8437dbbc39d567a1dee68/internal_photos/bs/2022/M/q/GHOy3ZT9GjPxMJH7FYmw/pizza-doce-banana-receita.jpg"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Banana</h5>
			<p class="card-text">Base de mussarela, banana em fatias, açúcar e canela.</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 23,90</span>
				<a href="#" type="maischoc" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
	<div class="card">
		<img
			class="card-img-top"
			src="https://static.clubedaanamariabraga.com.br/wp-content/uploads/2022/05/pizza-romeu-e-julieta-1024x576.jpg"
			alt="Imagem de capa do card"
		/>
		<div class="card-body">
			<h5 class="card-title nome-prato">Romeu e Julieta</h5>
			<p class="card-text">Base de mussarela, doce de goiabada e creme delicia</p>
			<h6>PREÇO :</h6>
			<div>
				<span class="preco">R$ 26,90</span>
				<a href="#" type="maischoc" class="btn btn-dark add-carrinho">✚</a>
			</div>
		</div>
	</div>
</div>
