<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body>
    <div class="container">
        <center><h1>Pizzas</h1></center>
        <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/calabresa.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title nome-prato">Calabresa</h5>
                  <p class="card-text">Base de mussarela, calabresa fatiada, anéis de cebola e orégano.</p>
                  <h6>PREÇO :</h6>
                  <!-- <a tabindex="0" type="tamcal1" role="button" class="btn btn-danger preco" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">G</button> -->
                  <!-- <a tabindex="0" type="tamcal2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">M</button> -->
                  <div>
                    <span class="preco">R$ 63,90</span>
                    <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
                  </div>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/atum.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title nome-prato">Atum</h5>
                  <p class="card-text">Base de mussarela, atum desfiado, anéis de cebola e azeitonas</p>
                  <h6>PREÇO :</h6>
                      <div>
                        <span class="preco">R$ 50,90</span>
                        <a href="#" type="maistum" class="btn btn-dark add-carrinho">✚</a>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="/image/pizzas/mussarela.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title nome-prato">Mussarela</h5>
                      <p class="card-text">Base de mussarela com orégano e azeitonas.</p>
                      <h6>PREÇO :</h6>
                      <div>
                        <span class="preco">R$ 45,90</span>
                        <a href="#" type="maismussa" class="btn btn-dark add-carrinho">✚</a>
                      </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/frango.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title nome-prato">Frango</h5>
                  <p class="card-text">Base de mussarela, frango desfiado, azeitonas e orégano.</p>
                  <h6>PREÇO :</h6>
                  <div>
                    <span class="preco">R$ 50,90</span>
                      <a href="#" type="maismussa" class="btn btn-dark add-carrinho">✚</a>
                  </div>
                </div>
              </div>
                </div><br>
                <div class="card-group">
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/portuguesa.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title nome-prato">Portuguesa</h5>
                        <p class="card-text">Base de mussarela, ovos, calabresa fatiada, anéis de cebola, azeitonas.</p>
                        <h6>PREÇO :</h6>
                        <div>
                          <span class="preco">R$ 63,90</span>
                              <a href="#" type="maisport" class="btn btn-dark add-carrinho">✚</a>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/chocolate.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title nome-prato">Chocolate</h5>
                        <p class="card-text">Base de mussarela com brigadeiro cremoso e granulado.</p>
                        <h6>PREÇO :</h6>
                        <div>
                          <span class="preco">R$ 50,90</span>
                              <a href="#" type="maischoc" class="btn btn-dark add-carrinho">✚</a>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/banana.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title nome-prato">Banana</h5>
                        <p class="card-text">Base de mussarela, banana em fatias, açúcar e canela.</p>
                        <h6>PREÇO :</h6>
                        <div>
                          <span class="preco">R$ 40,90</span>
                              <a href="#" type="maischoc" class="btn btn-dark add-carrinho">✚</a>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/romeu.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title nome-prato">Romeu e Julieta</h5>
                        <p class="card-text">Base de mussarela, doce de goiabada e creme delicia</p>
                        <h6>PREÇO :</h6>
                        <div>
                          <span class="preco">R$ 45,90</span>
                              <a href="#" type="maischoc" class="btn btn-dark add-carrinho">✚</a>
                        </div>
                      </div>
                    </div>
                      </div>
              </div>
          </div>
          <br>
          
</body>

<%- include ('./partials/footer.ejs') %>