<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body>
    <div class="container">
        <center><h1>Pizzas</h1></center>
        <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/calabresa.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Calabresa</h5>
                  <p class="card-text">Base de mussarela, calabresa fatiada, anéis de cebola e orégano.</p>
                  <h6>TAMANHO :</h6>
                  <a tabindex="0" type="tamcal1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">G</button>
                  <a tabindex="0" type="tamcal2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">M</button>
                  <a href="#" type="mais" class="btn btn-dark">✚</a>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/atum.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Atum</h5>
                  <p class="card-text">Base de mussarela, atum desfiado, anéis de cebola e azeitonas</p>
                  <p><h6>TAMANHO :</h6></p>
                  <a tabindex="0" type="tamatum1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">G</button>
                  <a tabindex="0" type="tamatum2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">M</button>
                  <a href="#" type="maistum" class="btn btn-dark">✚</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/mussarela.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Mussarela</h5>
                  <p class="card-text">Base de mussarela com orégano e azeitonas.</p>
                  <p><h6>TAMANHO :</h6></p>
                  <a tabindex="0" type="tamussa1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">G</button>
                    <a tabindex="0" type="tamussa2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">M</button>
                    <a href="#" type="maismussa" class="btn btn-dark">✚</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pizzas/frango.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Frango</h5>
                  <p class="card-text">Base de mussarela, frango desfiado, azeitonas e orégano.</p>
                  <p><h6>TAMANHO :</h6></p>
                  <a tabindex="0" type="tamussa1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">G</button>
                    <a tabindex="0" type="tamussa2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">M</button>
                    <a href="#" type="maismussa" class="btn btn-dark">✚</a>
                </div>
              </div>
                </div><br>
                <div class="card-group">
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/portuguesa.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Portuguesa</h5>
                        <p class="card-text">Base de mussarela, ovos, calabresa fatiada, anéis de cebola, azeitonas.</p>
                        <p><h6>TAMANHO :</h6></p>
                        <a tabindex="0" type="tamport1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 51,90">G</button>
                            <a tabindex="0" type="tamport2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 48,90">M</button>
                            <a href="#" type="maisport" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/chocolate.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Chocolate</h5>
                        <p class="card-text">Base de mussarela com brigadeiro cremoso e granulado.</p>
                        <p><h6>TAMANHO :</h6></p>
                        <a tabindex="0" type="tamchoc1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 39,90">G</button>
                            <a tabindex="0" type="tamchoc2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 35,90">M</button>
                            <a href="#" type="maischoc" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/banana.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Banana</h5>
                        <p class="card-text">Base de mussarela, banana em fatias, açúcar e canela.</p>
                        <p><h6>TAMANHO :</h6></p>
                        <a tabindex="0" type="tamchoc1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 49,90">G</button>
                            <a tabindex="0" type="tamchoc2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 45,90">M</button>
                            <a href="#" type="maischoc" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pizzas/romeu.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Romeu e Julieta</h5>
                        <p class="card-text">Base de mussarela, doce de goiabada e creme delicia</p>
                        <p><h6>TAMANHO :</h6></p>
                        <a tabindex="0" type="tamchoc1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 54,90">G</button>
                            <a tabindex="0" type="tamchoc2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">M</button>
                            <a href="#" type="maischoc" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                      </div>
              </div>
          </div>
          <br>
          
</body>

<%- include ('./partials/footer.ejs') %>