<center><h1>Refeições</h1></center>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/image/pratos/carnesol.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title nome-prato">Carne de Sol</h5>
      <p class="card-text">Carne de sol na brasa, arroz, feijão macassar, fritas e vinagrete.</p>
      <h6>PREÇO:</h6>
      <div>
        <span class="preco">R$ 36,90</span>
        <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/image/pratos/espaguete.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title nome-prato">Espaguete com Camarão</h5>
      <p class="card-text">Espaguete assado no molho, com camarão acebolado, orégano e hortelã.</p>
      <p><h6>PREÇO:</h6></p>
      <div>
        <span class="preco">R$ 29,90</span>
        <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/image/pratos/file.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title nome-prato">Filé Parmegiana</h5>
      <p class="card-text">Filé de frango com queijo mussarela, macarrão ao molho.</p>
      <p><h6>PREÇO:</h6></p>
      <div>
        <span class="preco">R$ 39,90</span>
        <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/image/pratos/filemadeira.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title nome-prato">Filé Madeira</h5>
      <p class="card-text">Filé de carne ao molho madeira, arroz, fritas e purê.</p>
      <p><h6>PREÇO:</h6></p>
      <div>
        <span class="preco">R$ 39,90</span>
        <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
      </div>
    </div>
  </div>
    </div><br>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="/image/pratos/lasanha.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title nome-prato">Lasanha</h5>
            <p class="card-text">Lasanha de frango ou carne, ao molho branco ou de tomate.</p>
            <p><h6>PREÇO:</h6></p>
            <div>
              <span class="preco">R$ 29,90</span>
              <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/image/pratos/risoto.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title nome-prato">Risoto de Camarão</h5>
            <p class="card-text">Camarão à risoto, arroz, purê e legumes.</p>
            <p><h6>PREÇO:</h6></p>
            <div>
              <span class="preco">R$ 49,90</span>
              <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/image/pratos/strogonof.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title nome-prato">Strogonof</h5>
            <p class="card-text">Frango ou Carne em cubo, ao molho branco arroz e purê.</p>
            <p><h6>PREÇO:</h6></p>
            <div>
              <span class="preco">R$ 25,90</span>
              <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/image/pratos/moqueca.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title nome-prato">Moqueca de Peixe</h5>
            <p class="card-text">Peixe ao molho de camarão, arroz e legumes.</p>
            <p><h6>PREÇO:</h6></p>
            <div>
              <span class="preco">R$ 35,90</span>
              <a href="#" type="mais" class="btn btn-dark add-carrinho">✚</a>
            </div>
          </div>
        </div>
          </div>