<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body>
    <div class="container">
        <center><h1>Refeições</h1></center>
        <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/image/pratos/carnesol.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Carne de Sol</h5>
                  <p class="card-text">Carne de sol na brasa, arroz, feijão macassar, fritas e vinagrete.</p>
                  <h6>PORÇÃO:</h6>
                  <a tabindex="0" type="tamcal1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">2P</button>
                  <a tabindex="0" type="tamcal2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">3P</button>
                  <a href="#" type="mais" class="btn btn-dark">✚</a>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pratos/espaguete.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Espaguete com Camarão</h5>
                  <p class="card-text">Espaguete assado no molho, com camarão acebolado, orégano e hortelã.</p>
                  <p><h6>PORÇÃO:</h6></p>
                  <a tabindex="0" type="tamatum1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">2P</button>
                  <a tabindex="0" type="tamatum2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">3P</button>
                  <a href="#" type="maistum" class="btn btn-dark">✚</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pratos/file.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Filé Parmegiana</h5>
                  <p class="card-text">Filé de frango com queijo mussarela, macarrão ao molho.</p>
                  <p><h6>PORÇÃO:</h6></p>
                  <a tabindex="0" type="tamussa1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">2P</button>
                    <a tabindex="0" type="tamussa2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">3P</button>
                    <a href="#" type="maismussa" class="btn btn-dark">✚</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/image/pratos/filemadeira.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Filé Madeira</h5>
                  <p class="card-text">Filé de carne ao molho madeira, arroz, fritas e purê.</p>
                  <p><h6>PORÇÃO:</h6></p>
                  <a tabindex="0" type="tamussa1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 63,90">2P</button>
                    <a tabindex="0" type="tamussa2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">3P</button>
                    <a href="#" type="maismussa" class="btn btn-dark">✚</a>
                </div>
              </div>
                </div><br>
                <div class="card-group">
                    <div class="card">
                      <img class="card-img-top" src="/image/pratos/lasanha.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Lasanha</h5>
                        <p class="card-text">Lasanha de frango ou carne, ao molho branco ou de tomate.</p>
                        <p><h6>PORÇÃO:</h6></p>
                        <a tabindex="0" type="tamport1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 51,90">2P</button>
                            <a tabindex="0" type="tamport2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 48,90">3P</button>
                            <a href="#" type="maisport" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pratos/risoto.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Risoto de Camarão</h5>
                        <p class="card-text">Camarão à risoto, arroz, purê e legumes.</p>
                        <p><h6>PORÇÃO:</h6></p>
                        <a tabindex="0" type="riso1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 39,90">2P</button>
                            <a tabindex="0" type="riso2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 35,90">3P</button>
                            <a href="#" type="maisriso" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pratos/strogonof.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Strogonof</h5>
                        <p class="card-text">Frango ou Carne em cubo, ao molho branco arroz e purê.</p>
                        <p><h6>PORÇÃO:</h6></p>
                        <a tabindex="0" type="riso1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 49,90">2P</button>
                            <a tabindex="0" type="riso2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 45,90">3P</button>
                            <a href="#" type="maisriso" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/image/pratos/moqueca.jpg" alt="Imagem de capa do card">
                      <div class="card-body">
                        <h5 class="card-title">Moqueca de Peixe</h5>
                        <p class="card-text">Peixe ao molho de camarão, arroz e legumes.</p>
                        <p><h6>PORÇÃO:</h6></p>
                        <a tabindex="0" type="riso1" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 54,90">2P</button>
                            <a tabindex="0" type="riso2" role="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="PREÇO : " data-content="R$ 50,90">3P</button>
                            <a href="#" type="maisriso" class="btn btn-dark">✚</a>
                      </div>
                    </div>
                      </div>
              </div>
          </div>
          <br>
          
</body>

<%- include ('./partials/footer.ejs') %>